import(dplyr)
import(extRemes)
import(spatstat)
import(mathjaxr)
importFrom(Rdpack,reprompt)
export(GPD.fit)
export(rateparam.fit)
export(extremalindex.fit)
export(returnlevel.est)
export(CI.est)
#export(linear.interp)
#export(extremalindex.modelform)
#export(get.empiricals)
#export(emp.dist)
#export(skewsurge.dist)
#export(monmax.sealevel.dist)
#export(stat.boot)
#export(get.data.unif.margins)
#export(ceiling.custom)



